<main class="page registration-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Đăng bài</h2>
        </div>
        <form action="/register" method="post">
          <div class="mb-3">
            <% if (messages) { %>
              <p style="color: rgb(1, 1, 1); font-size: 15px;"> <%= messages %> </p>
          <% } %> 
            <label class="form-label" for="text-info">TIÊU ĐỀ</label
            ><input class="form-control item" type="text-info" id="td" name="tieude"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="image">HÌNH ẢNH</label
            ><input class="form-control item" type="image" id="hinh" name="hinhanh"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="text">MÔ TẢ</label
            ><input class="form-control item" type="text" id="mota" name="mota"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="text">ĐỊA CHỈ</label
            ><input class="form-control item" type="text" id="dc" name="diachi"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="money">GIÁ TIỀN</label
            ><input class="form-control item" type="money" id="gtien" name="giatien"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="text-info">TÌNH TRẠNG PHÒNG</label
            ><input class="form-control item" type="text-info" id="ttp" name="tinhtrangphong"/>
          </div>
          <button class="btn btn-managepost" type="submit">Đăng bài</button>
        </form>
      </div>
    </section>
  </main>
  